@import url('https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 38%, rgba(241,239,246,1) 38%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cs-btn{
  background-color: hsl(180, 66%, 49%) !important;
}

.cs-btn:hover{
  background-color: hsl(180, 66%, 69%) !important;
}

.cs-tc{
  color: hsl(0, 0%, 75%) !important;
}

.cs-fw{
  font-weight: 700 !important;
}

nav .cs-tc:hover{
  color: hsl(260, 8%, 14%) !important;
}

.cs-bg{
  background-color: transparent !important;
}

.cs-bt{
  position: relative;
}

.cs-bg-2{
  background: url('./images/bg-shorten-desktop.svg') no-repeat center / 100% 100%;
  background-color: hsl(257, 27%, 26%);
}

.cs-bg-3{
  background: url('./images/bg-boost-desktop.svg') no-repeat center / 100% 100%;
  background-color: hsl(257, 27%, 26%);
}

.cs-bg-4{
  background-color: hsl(260, 8%, 14%);
}

.cs-card{
  position: relative;
}

.cs-card-img{
  position: absolute;
  top: 0;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: hsl(257, 27%, 26%);
  border-radius: 50%;
}

.cs-line{
  position: relative;
}

.cs-line::before{
  position: absolute;
  content: "";
  width: 150%;
  height: 5%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(180, 66%, 49%);
  z-index: -1;
}

.cs-w{
  width: 75% !important;
}

.cs-w-2{
  width: 25% !important;
}

.cs-img{
  filter: brightness(0) saturate(100%) invert(100%) sepia(81%) saturate(631%) hue-rotate(247deg) brightness(125%) contrast(100%);
}

.cs-link:hover{
  color: hsl(180, 66%, 49%) !important;
}

.cs-soc:hover{
  filter: brightness(0) saturate(100%) invert(86%) sepia(45%) saturate(1166%) hue-rotate(135deg) brightness(85%) contrast(89%);
  transition: .3s;
}

@media (max-width: 991px)
{
  .cs-bg{
    background-color: hsl(257, 27%, 26%) !important;
  }

  nav .cs-tc{
    color: white !important;
  }

  .cs-bt:before{
    position: absolute;
    content: "";
    background-color: white;
    top: 0;
    right: 10%;
    width: 80%;
    height: 1px;
  }

  .cs-card-img{
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .cs-line::before{
    width: 3%;
    height: 200%;
    top: 50%;
    left: 50%;
  }

  .cs-w{
    width: 100% !important;
  }

  .cs-w-2{
    width: 100% !important;
  }
  
  .cs-bg-2{
    background: url('./images/bg-shorten-mobile.svg') no-repeat center / 100% 100%;
    background-color: hsl(257, 27%, 26%);
  }

  .cs-bg-3{
    background: url('./images/bg-boost-mobile.svg') no-repeat center / 100% 100%;
    background-color: hsl(257, 27%, 26%);
  }
}